#p1{
    text-align: center;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1%;
}

#i1{
    height: 68%; 
    margin-left: -550px; 
    position:absolute;
}

#d1{
    margin-left:55%;
    height: 5%;
}

#p2{
    text-align: left; 
    font-size:large;
    padding-left: 5%;
}

#d2{
    margin-left:50%;
    height: 5%;
    margin-right: 20px;
}

#d3{
    margin-left:60%;
    height: 5%;
    margin-right: 10px;
}

#t1{
    POSITION:relative;
    margin-left:10%;
    width:80%;
    font-size: 20px;
}

#d4{
    position:relative;
    width: 90%;
    border: 1px solid black; 
    margin-left: 5%;
}

#p3{
    text-align:center;
    font-family:Verdana;
    font-size: 20px;
}

#d5{
    margin-left:20%;
}

#frame{
    width:750px; 
    height:500px;
    margin-left: -200px;
}

#d6{
    width: 95%; 
    margin-left: 2%;
}

#buy{
    text-align: center;
    color: white;
}
.card-img-top{
   height:200px;
}
.align-center{
    padding-left: 250px;
}

#dprice{
    width:1110px;
    height:200px
}
#div12{
    font-size: 50px;
    margin-left: 700px;
    margin-top: -130px;
}
#div13{
    font-size: 50px;
    margin-left: 0px;
    margin-top: -30px;
}
#p4{
    font-size: 60px;
}
#fold{
    height: 130%; 
    margin-left: -600px; 
    margin-top:-150px;
    position:absolute;
}
#ultra{
    height: 100%; 
    margin-left: -600px; 
    margin-top:-50px;
    position:absolute;
}