.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
body{
  background-image: url('https://www.freegreatpicture.com/files/146/25202-colorful-high-resolution-background.jpg');
  background-repeat: no-repeat;
background-attachment: fixed; 
background-size: 100% 100%;
}
